body{
    background-color: blue;
}

.maincontentenveloppe{
    display: flex;
}

.veillescharrues{
    display: none;
}

.museunterlinden{
    display: none;
}

.elitef{
    display: none;
}

.generalinfo{
    background-color: blue;
}


/* A SUPPRIMER A LA FIN */
.greenpeace{
    display: none;
}

.lasfracontelasf{
    display: none;
}

.archiveslgbtqi{
    display: none;
}